body			{background: black; color: white; font: normal bold 15px Arial;  margin:5px; text-align:center}

#heading	{font-size:30px;  display: inline-block; }
#timer		{width:200px; display: inline-block; }
#cas			{width:200px; display: inline-block;}

.num				{font-size:70px; }
.brick1			{ display: inline-block;  width:200px; }
.brick2			{ display: inline-block;  width:200px; }
